@charset "utf-8";

* {
    font-family: Times New Roman serif;

}

h1 {
    text-align: center;
    margin-bottom: 70px;
}

button {
    display: block;
    padding: 5px 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    border: 2px solid #626262;
    border-radius: 3px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}